@media (min-width: 600px) {
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}